* {
    margin: 0;
    padding: 0;
}

.main-block {
    background-image: url("../images/background.jpg");
    background-size: cover;
}

.main-block-section {
    padding-top: 286px;
    padding-bottom: 206px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-title {
    color: #FFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Montserrat;
    font-size: 79px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.main-subtitle {
    color: #FFF;
font-family: Montserrat;
font-size: 27px;
font-style: normal;
font-weight: 300;
line-height: normal;
}

.main-button{
    color: #1E2E3D;
font-family: Montserrat;
font-size: 15px;
font-style: normal;
font-weight: 700;
line-height: normal;
background-color: #FFF;
padding: 26px 22px;
border-radius: 20px;
text-decoration: none;
cursor: pointer;
margin-top: 32px;
}

.about-me-block {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-title-text {
    color: #000;
font-family: Montserrat;
font-size: 37px;
font-style: normal;
font-weight: 600;
line-height: normal;
margin-top: 72px;
}

.person-info-block {
    margin-top: 51px;
    margin-bottom: 181px;
    max-width: 1380px;
    display: flex;
    justify-content: center;
    margin: 90px 20px;
    gap: 97px;
}

.person-info-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
}


.person-info-text {
    color: #000;
    font-family: Montserrat;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.footer-block {
    background: #1E2E3D;
    padding-top: 113px;
    padding-bottom: 124px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.photo {
    width: 94.313px;
height: 91.349px;
}

.footer-title {
    color: #FFF;
    font-family: Montserrat;
    font-size: 35px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.footer-text {
    color: #FFF;
font-family: Montserrat;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: normal;
margin-top: 15px;
}

.footer-block-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 26px;
}

.footer-block-links {
    margin-top: 27px;
    display: flex;
    gap: 14px;
}


@media screen and (max-width: 900px){
    .person-info-block {
        display: flex;
        flex-direction: column;
        margin-top: 50px;
        gap: 60px
    }
    .main-title {
        font-size: 50px;
    }
    .about-me-block {
        padding-bottom: 50px;
    }
}

@media screen and (max-width: 670px){
    .footer-text {
        font-size: 17px;
    }
}

@media screen and (max-width: 500px){
    .main-title {
        font-size: 30px;
    }
    .main-subtitle {
        font-size: 20px;
    }

    .section-title-text {
        font-size: 30px;
    }

    .person-info-text {
        font-size: 18px;
    }

    .footer-title {
        font-size: 30px;
    }
    .footer-text{
        font-size: 15px;
    }
    .footer-block-text {
        margin-left: 10px;
        margin-right: 10px;
    }
}